td.td-delbtn,
td.td-viewbtn,
td.td-updatebtn,
div.close-viewbtn {
    margin: 10px;
    background-color: rgb(245, 25, 91);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}
td {
    color: black;
}
h4 {
    text-align: center;
}
div.view {
    width: 50%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgba(255, 254, 254, 0.103);
    box-shadow: 0px 10px 20px black;
    margin-top: 10px;
}
div.close-viewbtn {
    background-color: brown;
    box-shadow: none !important;
}
td.td-viewbtn {
    background-color: aquamarine !important;
}
td.td-updatebtn {
    background-color: greenyellow;
}

table.userDisplayTable {
    margin: auto;
}
